body{
    overflow: hidden;
}
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url("../img/Fundo.png") no-repeat center;
    background-size: cover;
    filter: brightness(0.8);
}

.infoEsquerda{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: left;

}

.inform{
    display: flex;
    margin-top: 210px;
    margin-left: 25px;
    flex-direction: column;
    border-radius: 0.5rem;
    align-items: center;
    background-color: #1E0E24;
    width: 250px;
    height: 500px;
    z-index: 1;
}

nav{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

nav a{
    padding: 12px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16pt;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
}

.informa {
    display: flex;
    margin-top: -90px;
    margin-left: 25px;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #50406A;
    width: 1540px;
    height: 800px;
    position: relative; /* Importante para posicionar elementos filhos relativos a este elemento */
    z-index: 1;
}

.informa img {
    position: absolute;
    bottom: 0vh; /* Ajuste conforme necessário */
    left: 45vw; /* Ajuste conforme necessário */
    transform: translateX(-50%);
}


.informa h1{
    padding-left: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    left: 0;
}
.informa h2{
    padding-left: 22px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}